<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DifferentElementsPageSuite" parallel="methods" thread-count="3" verbose="1" >
    <test name="DifferentElementsPageInterface" >
        <classes>
            <class name="hw4.DifferentElementsPageInterface"/>
            <class name="hw4.DatesPageInterface"/>
            <class name="hw5.DifferentElementsPageStyle"/>
        </classes>
    </test>
</suite>